<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title || "Dashboard" %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-gray-100">

  <!-- SIDEBAR -->
  <%- include('../partials/sidebar') %>

  <div class="ml-64">

    <%- include('../partials/topbar') %>

    <div class=" p-6">
        <%- body %>
    </div>
  </div>

</body>
</html>
